.App {
  display:flex; 
  flex-direction: row; 
}


.App-link {
  color: #61dafb;
}

.Horizontal-row {
  display:flex; 
  flex-direction: row; 
}

.card {
  width: 180px;
  height: 350;
  border-radius: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 10px;
  align-content: 'left';
  text-align: left;
  padding: 10px;
}

.Body {
    left: 0;  
    width: 75%;
    overflow-x: hidden;
}

.Cart {
  right: 0;  
  height: 100%;
  width: 25%;
  position: fixed;
  overflow-x: hidden;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.BasketItem {
  border-bottom:  1px solid grey;
}

.SummaryStyle {
  display:flex; 
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.SummaryItem {
  white-space: pre;
  margin: 10px;

}

